.button {
    font-size: $large-font;
    font-weight: 300;

    color: white;
    background-color: $blue;

    border: none;
    padding: $s-size;

    display: inline-block;
    line-height: 1;
    text-decoration: none;
}

.button--link {
    background: none;
}